/* card section and mainpage */
.maindiv {
    background: #f2e6ff;
}

.land-page-1 {
    height: 30rem;

}

.words {
    color: #3bdb49;
}

.text {
    font-size: 1rem;
    color: black;
}

.fab {
    color: #3bdb49;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
}

.card {
    margin: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.forbuttons{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto ;
}
.demobutton{
    width: 150px;
}
.codebutton{
    width: 150px;
}
.mainimage {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .mainimage {
        max-width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


.second-div {
    background-color: white;
}

.logo {
    border-radius: 50%;
    height: 50px;
}

/*contact div*/

.contactwords {
    color: #3bdb49;
    font-family: Arial, Helvetica, sans-serif;
}

.myname {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contcont {
    width: 450px;
    height: 280px;
    border: 3px solid black;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}







/*footer */
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    position: relative;
}

.footer {
    color: white;
}

.links {
    width: 300px;
    height: 320px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.links h2 {
    font-size: 20px;
    color: #3bdb49;
}

.sub-links {
    width: 200px;
    height: 200px;
}

.sub-links a {
    font-size: 15px;
    font-weight: 700;
    color: rgba(110, 109, 109, 0.979);
    text-decoration: none;
}

.sub-links a:hover {
    color: orangered;
}

.social-menu {
    padding: 5px;
    padding-top: 50px;
}

.social-menu ul {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    display: flex;

}

.social-menu ul li {
    list-style: none;
    margin: 0 auto;
}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 50px;
    transition: .3px;
    color: #000;
}

.social-menu ul li .fab:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 0 5px 4px rgba(95, 94, 94, 0.767);
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #002E6E;
}

.input-design {
    background: transparent;
    border: none;
    border-bottom: 1px white solid;
}

.form-desgin {
    background: rgb(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);

}